<div class="container">
    <div class="row">
        <div class="col-lg-6" style="padding: 10px;">
            <div class="section" style="padding: 10px;">
                <h2 class="display-1">Increase your mortgage size with Lloyds Banking group</h2>
                <br />
                <p class="text-justify form-label">
                    <span class="h5" class="form-label">Voted Britains Best mortgage broker 2022 & 2023.</span>
                    We Specialise in helping home buyers get bigger mortgages to buy their dream home.
                    Working with over 100+ mortgage lenders, our smart technology gives you an accurate view of what
                    mortage loan could be with help from family, friends or a specialist scheme.
                </p><br />
                <div class="flex-align-horizontal-center" style="margin-top: 40px;">
                    <a class="btn btn-round btn-wd prime-btn home-btn" href="javascript:void(0)" [routerLink]="['/calculator/mortgage']" [queryParams]="{ t: 'm' }">
                        How much
                        can I borrow?</a>
                    <a class="btn btn-round btn-wd prime-btn home-btn" href="javascript:void(0)"> See customer reviews</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="padding: 10px;">
            <div class="card card-register">
                <div class="card-header"><span class="display-1" style="color: black;">Discover how much you can really borrow</span></div>
                <div class="card-body">
                    <form [formGroup]="calculatorForm" (ngSubmit)="submit()"
                        class="form ng-untouched ng-pristine ng-valid">
                        <h4 class="form-label">I want to</h4>
                        <tabset class="nav-tabs-primary active">
                            <tab #purchaseTab id="purchase" heading="Purchase" (selectTab)="onTabChange(purchaseTab.id)"
                                class="active"></tab>
                            <tab #remortgageTab id="remortgage" heading="Re-mortgage"
                                (selectTab)="onTabChange(remortgageTab.id)"></tab>
                        </tabset>
                        <div class="form-group">
                            <h4 class="form-label">My household income</h4>
                            <div class="input-group"
                                [ngClass]="calculatorForm.get('incomeValue')?.touched && calculatorForm.get('incomeValue')?.invalid ? 'has-danger': ''">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-pound-sign"></i></div>
                                </div>
                                <input formControlName="incomeValue" class="form-control" [(ngModel)]="incomeValue"
                                    placeholder="{{50000 | number:'1.2-2'}}" type="text">
                            </div>
                            <div
                                *ngIf="calculatorForm.get('incomeValue')?.touched && calculatorForm.get('incomeValue')?.invalid">
                                <div *ngIf="calculatorForm.get('incomeValue')?.errors?.['required']"> 'My household
                                    income' is required</div>
                                <div *ngIf="calculatorForm.get('incomeValue')?.errors?.['minLength']"> 'My household
                                    income' value must be a value greater than 9</div>
                                <div *ngIf="calculatorForm.get('incomeValue')?.errors?.['pattern']"> Input currency in
                                    the format {{'10000000' | number:'1.2-2' }}</div>
                                    <div *ngIf="calculatorForm.get('incomeValue')?.errors?.['min']"> Input cannot be negative</div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <h4 class="form-label">{{textboxlabel}}</h4>
                            <div class="input-group"
                                [ngClass]="calculatorForm.get('propertyValue')?.touched && calculatorForm.get('propertyValue')?.invalid ? 'has-danger': ''">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-pound-sign"></i></div>
                                </div>
                                <input formControlName="propertyValue" class="form-control" [(ngModel)]="propertyValue"
                                    [placeholder]="placeholderAmount | number:'1.2-2'" type="text" required>
                            </div>
                            <div
                                *ngIf="calculatorForm.get('propertyValue')?.touched && calculatorForm.get('propertyValue')?.invalid">
                                <div *ngIf="calculatorForm.get('propertyValue')?.errors?.['required']">
                                    '{{textboxlabel}}' is required</div>
                                <div *ngIf="calculatorForm.get('propertyValue')?.errors?.['minLength']">
                                    '{{textboxlabel}}' value must be a value greater than 9</div>
                                <div *ngIf="calculatorForm.get('propertyValue')?.errors?.['pattern']">
                                    '{{textboxlabel}}' Input only numbers</div>
                                    <div *ngIf="calculatorForm.get('propertyValue')?.errors?.['min']"> Input cannot be negative</div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-round btn-lg prime-btn" type="submit" [disabled]="!calculatorForm.valid"
                                style="width: 100%;">See your budget</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>