<div class="outer">
  <div id="header">
    <p id="logo">
      <span>
        <img src="../assets/images/logo_header.png" alt="Lloyds Bank Logo">
      </span>

    </p>
    <!-- <div class="secureMsg">
      <p class="msg">
        <img src="../assets/images/secure_message.png" alt="You're logging into a secure site">
      </p>
      <p>
        <a class="linkBullet newwin" href="http://www.lloydsbank.com/security.asp"
          title="How can I tell that this site is secure?: Opens in a new window">How can I tell that this site is
          secure?</a>
      </p>
    </div> -->
  </div>
</div>