<footer class="footer">
    <div class="container">
        <div class="row footer-primary">
            <div class="col-md-4">
                <!-- Support -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Get recommendation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> FAQs </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Terms & Conditions </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <!-- Solutions -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Privacy Policy </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Cookie Policy </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Transparency </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            Low deposit mortgages
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <!-- Solutions -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            Guarantor mortgages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            Remortgage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            Buy to Let
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <div class="btn-wrapper profile" style="padding-top: 20px;">
                    <h3 class="follow-us-text">Follow us:</h3>
                    <a class="btn btn-icon btn-neutral btn-round btn-default mr-1" href="javascript:void(0)"
                        target="_blank">
                        <i class="fab fa-twitter"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-default mr-1" href="javascript:void(0)"
                        target="_blank">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-default" href="javascript:void(0)" target="_blank">
                        <i class="fab fa-youtube-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-default" href="javascript:void(0)" target="_blank">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    <a href="#" class="back-to-top"><h4>Back to Top &#9650;</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="container">
            <span>YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP PAYMENTS ON YOUR MORTGAGE.</span><br/>
            <span>See full details of all claims and figures shown on this website at our Transparency page.</span>
        </div>
    </div>
</footer>