#wrapper {
    position  : relative;
    width     : auto;
    min-height: 100%;
    background: none;
    min-width : 980px;
}

#header-wrapper {
    background-color: #006A4D;
}

/* bread-crumb */
.bread-crumb {
    display         : flex;
    list-style      : none;
    margin          : 20px 0px;
    padding         : 0;
    gap             : 5px;
    height          : 100%;
    background-color: transparent !important;
}

.bread-crumb li a {
    display        : block;
    height         : 100%;
    padding        : 10px;
    box-sizing     : border-box;
    text-decoration: none;
    color          : #fff;
    background     : #006a4d;
    font-size      : 25px;
    font-family    : sans-serif;
}

.selected {
    background: #75B94E !important;
}

.bread-crumb li a:focus-visible {
    background: #006a4d;
}

.bread-crumb {
    --s: 20px;
}

.bread-crumb li {
    clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% 50%, calc(100% - var(--s)) 100%, 0 100%, var(--s) 50%);
}

.bread-crumb li a {
    padding: 10px calc(48px + var(--s));
}

.bread-crumb li {
    margin: 0 calc(var(--s)/-2);
}

.bread-crumb li:first-child {
    margin-left: 0;
}

.bread-crumb li:last-child {
    margin-right: 0;
}

.bread-crumb li:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, var(--s) 50%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, var(--s) 50%, var(--s) 0%);
}

.bread-crumb li:first-child {
    clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% 50%, calc(100% - var(--s)) 100%, 0 100%);
}

.flex-align-horizontal-center {
    display        : flex;
    align-items    : center;
    // justify-content: center;
}

.disabled-link {
    pointer-events : none;
    color          : currentColor;
    cursor         : not-allowed;
    opacity        : 0.5;
    text-decoration: none;
}

.outer {
    position: relative;
    margin: 0 auto;
    padding: 12px 36px;
    border-bottom: 0;
	text-align: left;
	max-width: 928px;
	min-width: 320px;
    background-color: #eee;
}


