table {
    border-collapse: collapse;
    width          : 100%;
}

tr td {
    border: none;
}

.align-vertically {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 263px;
}

.row{
    margin-right: 10px;
    margin-left: 10px;
}

.outer {
    position: relative;
    margin: 0 auto;
    padding: 12px 36px;
    border-bottom: 0;
	text-align: left;
	max-width: 928px;
	min-width: 320px;
    background-color: #eee;
}

h2 {
    background-image: linear-gradient(to left, #75B94E, #006A4D);
    color: white;
    padding: 5px;
}

.tbl th, .tbl td {
    padding: 3px;
    width: 50%;
    border-bottom: 1px solid #ccc;
}