<div class="row outer">
    <div class="col-lg-6 text-center">
        <img src={{user.image}} alt="Profile image" class="rounded-circle" style="width: 200px; height: 200px;">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
    </div>

    <div class="col-lg-6 align-vertically">
        <table class="tbl">
            <tbody>
            <tr *ngIf="user.gender">
                <th>Gender</th>
                <td>{{user.gender}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{user.phone}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>{{user.kyc.address.address1}}, {{user.kyc.address.address2}}</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>{{user.kyc.address.city}}</td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>{{user.kyc.address.state}}</td>
            </tr>
            <tr>
                <td><strong>Country</strong></td>
                <td>{{user.kyc.country}}</td>
            </tr>
            <tr>
                <td><strong>Pin Code</strong></td>
                <td>{{user.kyc.address.pincode}}</td>
            </tr>
            <tr
                *ngIf="user.kyc.country.toLocaleLowerCase() === 'india' || user.kyc.country.toLocaleLowerCase() === 'in'">
                <td><strong>Aadhaar Number</strong></td>
                <td>{{user.kyc.aadharDetails}}</td>
            </tr>
            <tr
                *ngIf="user.kyc.country.toLocaleLowerCase() === 'india' || user.kyc.country.toLocaleLowerCase() === 'in'">
                <td><strong>PAN</strong></td>
                <td>{{user.kyc.pan}}</td>
            </tr>
        </tbody>
        </table>

    </div>
</div>