<div class="row outer">
    <div class="col-lg-12">
        <h2 class="text-center">Account creation request received!</h2>
        <p>Dear {{userName}},<br> <br>
           Welcome to Lloyds Banking group! <br><br>
           Your application for account creation has been received. The account would be active after the cooling period of 2 days.  
           <br><br>
           <b>Please check your registerd email for steps to set the credentials for the Net Banking capabilities.</b> </p>
           <br><br> 
           Please make a note of the below important details for your account.
           <div class="flex-align-horizontal-center">
           <table>
            <tr>
                <td><strong>Account Number</strong></td>
                <td>{{accountNumber}}</td>
            </tr>
            <tr>
                <td><strong>Application ID</strong></td>
                <td>{{applicationId}}</td>
            </tr>
           </table>
        </div>
    </div>
</div>