<form [formGroup]="catalogueForm" (ngSubmit)="submit()" class="form ng-untouched ng-pristine ng-valid">
    <div class="row outer">
        <h2>Select Products and services</h2>
        <p><b>You are eligible for the below products and services...</b></p>
        <div class="col-lg-12">

            <p class="selection" *ngFor="let product of productOfferings">
                <input type="checkbox" id="select_{{product.id}}" alt="{{product.serviceType}}" name="{{product.serviceType}}" [checked]="product.defaultSelected" [disabled]="product.isEnabled"/>
                <label for="select_{{product.id}}" class="label">{{product.serviceType}}</label>
                <span class="in-circle">?</span>
            </p>
            <input type="submit" class="submitAction" />
        </div>
    </div>
    <!-- <div class="row outer">
        <h2>Provide Credentials</h2>
        <p><b>Lets get you started with the Online Account...</b></p>

        <div class="col-lg-6">

            <div class="formField form-group">
                <label for="ipin-password">Internet Banking Password</label>
                <input formControlName="ipinPassword" class="form-control" type="password" id="ipin-password"
                    name="ipin-password" required>
                <input formControlName="ipinPasswordConfirm" class="form-control" type="password"
                    id="ipin-password-confirm" name="ipin-password-confirm" required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="formField form-group">
                <label for="mpin-password">Mobile Banking Password</label>
                <input formControlName="mpinPassword" class="form-control" type="password" id="mpin-password"
                    name="mpin-password" required>
                <input formControlName="mpinPasswordConfirm" type="password" id="mpin-password-confirm"
                    name="mpin-password-confirm" required>
            </div>
        </div>

        <input type="submit" class="submitAction" />
    </div> -->
</form>